.header-wrapper {
  text-align: center;

  h2 {
    letter-spacing: 1px;
  }
}

.nav-container {
  padding: 20px 0 10px 0;
  // border: 1px solid goldenrod;
}

.styled-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li a {
      text-decoration: none;
      padding: 10px 15px;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: .5px;
      cursor: pointer;
      color: black;
    }
  }
  
  .flex-ul {
    display: flex;
    justify-content: center;
  }