.blog-card {
    max-width: 1200px;
    max-height: 400px;
    text-align: center;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 20px 30px 0 rgba(95,118,151,0.23);
    transition: all .1s linear;
}

.blog-card__image-wrapper {
    // border: 2px dotted hotpink;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all .1s linear;

    img {
        height: 100%;
        width: 600px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        object-fit: contain;
        display: block;
    }
}

.blog-card__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 55px;
    background-color: rgb(250, 250, 243);

    p {
        font-size: 1.25em;
        letter-spacing: 1.5px;
    }
}

.blog-card {
    &:hover,
    &:focus {
        &,
        image-wrapper {
            transform: scale(1.03);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            cursor: pointer;
        }
    }
}