<!DOCTYPE html> 
<html>
  <header class="header-wrapper">
    <nav class='nav-container'>
        <ul class="styled-ul flex-ul">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
        </ul>
    </nav>
    <main>
      <ul class="motto-ul flex-ul">
        <li>Live</li>
        <li>Love</li>
        <li>Laugh</li>
      </ul>
      <hr class="custom-line">
      <div>
        <img src="https://via.placeholder.com/1500x600" alt"place holder image"/>
      </div>
    </main>
  </header>
</html>
