.header-wrapper {
  text-align: center;
}

.header-wrapper h2 {
  letter-spacing: 1px;
}

.nav-container {
  padding: 20px 0 10px 0;
}

.styled-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.styled-ul li a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: black;
}

.flex-ul {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: "Josefin Slab", serif; */
  margin: 0;
  padding: 0;
}

